doctype html
html(ng-app='falemais' ng-controller="falemais-controller")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
		script(src='javascripts/controller.js')   
	body
		block content